body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

#chat-container {
  height: 400px;
  width: 500px;
  overflow-y: scroll;
  border: 2px solid black;
  margin-left: 680px;
  margin-top: 100px;
  padding: 10px;
  background-color: rosybrown
}

#input-container {
  margin-top: 10px;
  margin-left: 675px;
}

.input-field {
  margin: 5px;
}

#sender-input {
  height: 25px;
  width: 150px;
  color: black;
  background-color: rgb(201, 201, 201);
  border: solid 2px black;
  border-radius: 35px;
}

#message-input {
  height: 25px;
  width: 344px;
  color: black;
  background-color: rgb(201, 201, 201);
  border: solid 2px black;
  border-radius: 35px;
}

#send-button {
  width: 525px;
  height: 30px;
  color: black;
  background-color: rgb(201, 201, 201);
  border: solid 2px black;
  border-radius: 35px;
  cursor: pointer;
}

#send-button:hover {
  background-color: rgb(124, 24, 29);
}
